.about__section{
  width: 42%;
  .about_-section_title{
    font-weight: 600;
    margin-bottom: 5px;
  }
  ul{
    margin-left: 10px;
    margin-bottom: 30px;
    line-height: 1.35;
  }
}
.header__about{
  span{
    cursor: pointer;
  }
}

.copyright{
  position: absolute;
  bottom:20px;
  left: 20px;
}


.about__section_services{
  margin-top: 40px;
}

@media screen and (max-width:768px){

  .about__section{
    width:100%;
  }
}
