header{
  position: fixed;
  width:100%;
  z-index: 9;
  mix-blend-mode: difference;
  color: white;
  svg{
    mix-blend-mode: difference;
  }
}

.header__wrapper{
  padding: 20px;
  height: 80px;
  display: flex;
  align-items: flex-start;
  mix-blend-mode: difference;
  .header__logo{
    width:25%;
  }
  .header__about{
    width:33%;
  }
}

.header__description{
  width:42%;
  p{
    transition: .4s ease;
  }
  .hide{
    visibility: hidden;
    opacity: 0;
  }
}

.mobile{
  display:none;
}
.desktop{
  display: flex;
}

@media screen and (max-width:768px){
  .mobile{
    display:flex;
  }
  .desktop{
    display: none;
  }
  .header__wrapper{
    justify-content: space-between;
    position: relative;
    height: unset;
    padding: 20px;
  }

  .sidepanel__wrapper{
    margin-top: 75px;
  }
  .header__wrapper .header__logo{
    width: auto;
  }
  .header__wrapper .header__about{
    width: auto;
    justify-content: flex-end;
    position: absolute;
    right: 20px;
  }

}
