.sidepanel{
  position: fixed;
  height: 100vh;
  width:100%;
  overflow-y: scroll;
  top:0;
  left: 0;
  background: white;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transition: .4s ease;
  &.open{
    opacity: 1;
    visibility: visible;
  }
}

.sidepanel__wrapper{
  padding: 20px;
  display: flex;
  justify-content: flex-end;
}
